body {
    background-color: white;
    color: darkslategray;
    font-family: avenir-light, sans-serif;
    margin-top: 0px
    margin-bottom: 25px;
    margin-left: 75px;
    margin-right: 75px;
  }

  /* overflow: visible will render outside the box, hidden will clip it,
  scroll will create a scroll in the box to see everything, auto adds a scroll
  bar when necessary*/
.topnav {
    background-color: teal;
    overflow: hidden;
    border: 2px solid black;
    padding: 14px 16px;
}

.heading {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 21px;
    font-family: avenir, sans-serif;
    margin-left: 10px;
    font-weight: 300;
    margin-bottom:5px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 22px;
    letter-spacing: 0px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0px;
    /*border: 2px solid black; This is ugly*/
  }

  .topnav a:hover {
    background-color: #ddd;
    color: firebrick;
    border: 2px solid black;
  }

  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  #right {
    float: right;
  }

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 0px;
    margin-bottom: 20px;
    border: 2px solid black;
    float: left;
}

h1 {
    text-align: center;
    color: darkslategray;
    font-family: avenir, sans-serif;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-weight: normal;
}

h2 {
    text-align: center;
    color: darkslategray;
    font-family: avenir, sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
    letter-spacing: 1px;
    font-weight: normal;
}

.links {
    /*border: 4px solid black;
    background-color: lightblue;*/
    text-align: center;
    font-family: avenir, sans-serif;
    font-weight: bold;
    padding: 5px 5px;
    letter-spacing: 2px;
    margin-top: 5px;
  }

  /* unvisited link */
  a:link {
    color: darkslategray;
  }

  /* visited link */
  a:visited {
    color: black;
  }

  /* mouse over link */
  a:hover {
    color: firebrick;
  }

  /* selected link */
  a:active {
    color: salmon;
  }

.header-main {
    font-family: avenir, sans-serif;
    text-align: left;
}

.about {
    font-family: avenir light, sans-serif;
}

/*FIXME - not sure why this isn't doing what I want*/
.quote {
    display: table-cell;
    vertical-align: bottom;
    font-family: avenir light, sans-serif;
    border: 4xp solid black;
}

ul {
  list-style: none;
}
/*FIXME - not sure why this isn't doing what I want
.center {
  text-align: center;
}

ul {
  list-style: none;
}

 /*
.navigation-bar {
    text-align: right;
    display: inline;
    font-family: avenir;
  }
*/

/*
#professional-img {
    float: left;
}
*/

/*
This didn't work
img, .header-main{
vertical-align:top;
}
.header-main{
display:inline-block;
}
*/




